<head>
  <meta charset="utf-8" />
  <title>跳跳鱼的家</title>
  <meta name="keywords" content="跳跳鱼" />
  <meta name="description" content="狂奔的跳跳鱼" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- basic styles -->

  <%= stylesheet_link_tag    "ace", :media => "all" %>

  <%= javascript_include_tag "ace" %>

  <!--[if IE 7]>
  <%= stylesheet_link_tag 'font-awesome-ie7.min' %>
  <![endif]-->



  <!--[if lte IE 8]>
  <%= stylesheet_link_tag 'ace-ie.min' %>
  <![endif]-->

  <!-- inline styles related to this page -->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

  <!--[if lt IE 9]>
  <%= javascript_include_tag "html5shiv" %>
  <%= javascript_include_tag "respond.min" %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>